.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: '100%';
    height: 50px;

    /* border-bottom: 1px solid teal; */
    padding: 5px 10px;
}

.container:hover {
    background-color: #ececec;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.primaryTitle {
    font-weight: 600;
}

.secondaryTitle {
    color: grey;
    opacity: 40%;
}

.avatarStyle {
}
