.townList{
  display: grid;
  grid-template-rows: auto;
  width: 400px;
  font-size: small;
}
.townItem{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: baseline;

}
.participents{
  display: grid;
  grid-template-rows: auto;
}